* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  padding: 10px;
  background-color: #282828;
  width: 100%;
  height: 100%;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerButtons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.button {
  min-width: 0px;
}

#navbarText {
  padding-left: 10px;
  color: #92b9e0;
  font-family: 'Rubik', sans-serif;
  text-decoration: none;
  font-size: 250%;
}

.currentGame {
  height: 100vh;
  margin-top: 20px;
}

.currentGameBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #282828;
  height: 100vh;
  color: #C5C6C7;
  border-radius: 7px;
  box-shadow: 0px 0px 12px 1px #92b9e0;
}

.currentGameHeader {
  height: 40%;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 85%;
}

.headerRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 85%;
}

.headerScoreDash {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.headerColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.headerTeam {
  font-weight: bolder;
  font-size: 140%;
}

.headerPeriod {
  font-weight: 800;
  font-size: 125%;
  margin: 20px 0 0 0;
}

.headerTime {
  font-weight: 800;
  font-size: 125%;
}

#headerLogo {
  width: 40%;
  height: auto;
}

.headerScore {
  font-size: 350%;
}

#statsColumn {
  font-weight: 700;
  color: #C5C6C7;
  height: 58%;
  width: 100%;
}

.liveStat {
  font-size: 120%;
  font-weight: 400;
  text-decoration: none;
}

.staticValue {
  font-size: 120%;
  text-decoration: underline;
}

#loginForm {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#loginBox {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.form-label {
  color: #C5C6C7;
}

.loginButton {
  background-color: #0d0d0d;
  color: #C5C6C7;
}

#loginCreate {
  color: #C5C6C7;
  text-align: center;
}

#todayGameText {
  text-align: center;
}

#allGames {
  overflow: scroll;
}

#allGamesBox {
  text-decoration: none;
  color: #C5C6C7;
  margin: 10px;
  font-weight: 800;
  font-size: 95%;
  background-color: rgba(13, 13, 13, 0.8392156863);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 95%;
  height: 13%;
  border: 1px solid black;
  box-shadow: 0px 0px 6px red;
}

.allGamesRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.allGamesTeamsBox {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#allGamesTime {
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gameStatus {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 300;
}

.gameScore {
  padding-right: 10px;
}