/* Base/Page Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  font-family: 'Rubik', sans-serif;
  height: 100vh;
}

/* NavBar/Header Styling */
.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerButtons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.button {
  min-width: 0px;
}

#navbarText {
  padding-left: 10px;
  color: #92b9e0;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  font-size: 250%;
}

/* Currently Displayed Stats Box Styling */
.currentGame {
  height: 100%;
}

.currentGameBox {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #fff;
  color: #505050;
  border-radius: 7px;
  box-shadow: 0px 0px 12px 1px #92b9e0;
}

.currentGameHeader {
  padding: 20px;
  height: 40%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.headerColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}

.headerTeam {
  text-align: center;
  font-size: 150%;
}

.period {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headerPeriod {
  font-size: 125%;
  text-align: center;
}

.headerTime {
  font-weight: 800;
  font-size: 125%;
}

.headerScore {
  font-size: 350%;
}

/* Stats Column on Homepage and Selected Games Page */
#statsColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 700;
  color: #505050;
  height: 60%;
}

.currentRow {
  display: flex;
  flex-direction: row;
}

.column {
  text-align: center;
  width: 50%;
}

.liveStat {
  padding-top: 5%;
  font-size: 120%;
  font-weight: 400;
  text-decoration: none;
}

.staticValue {
  font-size: 120%;
  text-decoration: underline;
}

.form-label {
  color: #92b9e0;
}

.formButton {
  text-decoration: none;
  text-align: center;
  margin: 10px;
  background-color: #92b9e0;
  color: #282828;
}

.formButtonContainer {
  width: 100%;
  text-align: center;
}

#signupCreate {
  position: absolute;
  bottom: 0;
  color: #C5C6C7;
  text-align: center;
}

.inputBox {
  display: flex;
  flex-direction: column;
}

#todayGameText {
  text-align: center;
}

#allGames {
  overflow-y: scroll;
  display: flex;
  justify-content: flex-start;
}

#allGamesBox {
  height: 90%;
  margin: 10px;
  text-decoration: none;
  color: #fff;
  font-weight: 800;
  font-size: 95%;
  background-color: #282828;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 7px;
  box-shadow: 0px 0px 12px 1px #92b9e0;
}

.allGamesRow {
  padding: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.allGamesLink {
  text-decoration: none;
}

#allGamesTime {
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gameStatus {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 300;
}

.gameScore {
  padding-right: 10px;
}

@media screen and (max-width: 320px) {
  #navbarText{
    padding: 0;
    font-size: 190%;
  }
}

@media screen and (max-width: 320px) {
  .currentGameHeader {
    padding: 0;
    font-size: 90%;
  }
}