/* Base/Page Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  font-family: 'Rubik', sans-serif;
  height: 100vh;
}

body {
  background-color: #e4e7e9;
}

/* NavBar/Header Styling */
.navContainer {
  background-color: #282828;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerButtons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.navbarText {
  padding-left: 10px;
  color: #92b9e0;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  font-size: 250%;
}

.navbarQuote {
  padding-left: 10px;
  color: #fff;
  font-size: 80%;
}

/* Currently Displayed Stats Box Styling */
.currentGameBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.currentGameHeader {
  padding: 20px;
  height: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.headerColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}

.headerTeam {
  padding: 15px;
  text-align: center;
  font-size: 125%;
  height: 80px;
}

.period {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headerPeriod {
  font-size: 125%;
  text-align: center;
}

.headerTime {
  font-weight: 800;
  font-size: 125%;
}

.headerScore {
  display: flex;
  align-items: center;
  font-size: 350%;
  height: 100%;
}

/* Stats Column on Homepage and Selected Games Page */
#statsColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 700;
  color: #5b5b5b;
  height: 60%;
}

.currentRow {
  display: flex;
  flex-direction: row;
}

.column {
  text-align: center;
  width: 50%;
}

.liveStat {
  padding-top: 5%;
  font-size: 120%;
  font-weight: 400;
  text-decoration: none;
}

.staticValue {
  font-size: 120%;
  text-decoration: underline;
}

/* Sign Up/Login Page Styling */
#signupCreate {
  position: absolute;
  bottom: 0;
  color: #5b5b5b;
  text-align: center;
}

/* All Games Page Styling */
#allGamesBox {
  align-content: center;
  margin: 10px;
  color: #fff;
  font-size: 95%;
  background-color: #282828;
}

.allGamesRow {
  padding: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.allGamesLink {
  text-decoration: none;
}

.gameScore {
  padding-right: 10px;
}

/* Media Queries For Page Responsiveness */
@media screen and (max-width: 320px) {
  #navbarText{
    padding: 0;
    font-size: 190%;
  }
}

@media screen and (max-width: 320px) {
  .currentGameHeader {
    padding: 0;
    font-size: 90%;
  }
}